{% extends "index.html" %}
{% block content %}
<div class="container contact">
	<div class="row">
		<div class="col-md-3">
			<div class="contact-info">
				<img src="https://image.ibb.co/kUASdV/contact-image.png" alt="image"/>
				<h2>Contato</h2>
        <h4>Nós queremos ouvir você!</h4>                
			</div>
		</div>
		<div class="col-md-9">
			<div class="contact-form">
        <form id="contato">
				<div class="form-group text-left">
				  <label class="control-label col-sm-2" for="nome">Nome:</label>
				  <div class="col-sm-10">          
					<input type="text" class="form-control" id="nome" placeholder="Digite seu nome" name="nome">
				  </div>
				</div>
				<div class="form-group text-left">
				  <label class="control-label col-sm-2" for="email">E-mail:</label>
				  <div class="col-sm-10">
					<input type="email" class="form-control" id="email" placeholder="Digite seu email" name="email">
				  </div>
				</div>
				<div class="form-group text-left">
				  <label class="control-label col-sm-2" for="comment">Comentário:</label>
				  <div class="col-sm-10">
					<textarea class="form-control" rows="5" id="comment" name="comment"></textarea>
				  </div>
				</div>
				<div class="form-group">        
				  <div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-default">Enviar</button>
				  </div>
        </div>
        </form>
      </div>      
		</div>
  </div>
  {% if contatos %}
      <div class="container col-8 m-auto mt-5">        
      <h2>Lista de Contatos</h2>
      <ul class="list-group">        
        {% for contato in contatos %}
        <li class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ contato.nome }}</h5>
            <small>{{ contato.email }}</small>
            <small>{{ contato.data_criacao}}</small>
          </div>
          <p class="mb-1 text-left">{{ contato.conteudo }}</p>
        </li>        
        {% endfor %}       
      </ul>
      </div>
        {% endif %}
</div>
{% endblock %}

{% block script %}
<script>
    $("#contato").submit((e) =>{
        e.preventDefault();        
        const nome = $("#nome").val();
        const email = $("#email").val();
        const comment = $("#comment").val();
        if(nome === "" || email === "" || comment === ""){
            alert("Algum campo está em branco, verifique!");
        }else{
            let formData = {}
            formData.nome = nome;
            formData.email = email;
            formData.comment = comment;
            formData.csrfmiddlewaretoken = '{{ csrf_token }}';

        $.ajax({
            url: '/contato/',
            method: 'POST',
            data: formData,
            success: (data) => {                
                alert(data);
                location.reload();
            },
            error: (error) => {
                console.error(error);
            }
        });
        }
        
    });
</script>
{% endblock %}