{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{% static 'fontawesome_free/js/all.min.js' %}"></script>
    <title>Aulas de Django, Python e Bootstrap</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">        
      <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="{% url 'home'%}">Estudos Python e Django</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse w-100 order-3 dual-collapse2 text-center">
        <ul class="navbar-nav ml-auto">
          {% url 'home' as home_url %}
          <li class="nav-item {% if request.get_full_path == home_url %}active{% endif %}">
          <a href="{% url 'home'%}" class="nav-link" href="#"><i class="fas fa-home"></i> Home <span class="sr-only">(current)</span></a>
          </li>
          {% url 'produtos' as produtos_url %}
          <li class="nav-item {% if request.get_full_path == produtos_url %}active{% endif %}">
          <a href="{% url 'produtos'%}" class="nav-link" href="#"><i class="fas fa-puzzle-piece"></i> Produtos</a>
          </li>
          {% url 'testes_api' as testes_api_url %}
          <li class="nav-item {% if request.get_full_path == testes_api_url %}active{% endif %}">
          <a href="{% url 'testes_api'%}" class="nav-link" href="#"><i class="fas fa-puzzle-piece"></i> Testes API</a>
          </li>
          {% url 'empresa' as empresa_url %}
          <li class="nav-item {% if request.get_full_path == empresa_url %}active{% endif %}">
          <a href="{% url 'empresa'%}" class="nav-link" href="#"><i class="fas fa-building"></i> Empresa</a>
          </li>
          {% url 'contato' as contato_url %}
          <li class="nav-item {% if request.get_full_path == contato_url %}active{% endif %}">
          <a href="{% url 'contato'%}" class="nav-link" href="#"><i class="fas fa-id-card"></i> Contato</a>
          </li>
        </ul>        
      </div>
    </nav>
    <div class="container p-3 my-3 bg-dark text-white text-center rounded">
      {% block content %}
      <h1>Bem vindo</h1>
      <p>Aqui vamos aprender como desenvolver um website utilizando python, django, bootstrap e outras ferramentas que auxiliam um desenvolvimento mais rápido e responsivo para smartphone e desktop.</p>
      <button type="button" onclick="return calcular_desconto()">Calcular</button>
      <div class="col-8 p-3 my-3 border bg-white text-dark m-auto">
        <div class="column">          
          <img src="{% static 'imgs/djangologo.png' %}" width="200" height="auto">
          <img src="{% static 'imgs/pythonlogo.png' %}" width="200" height="auto">
          <img src="{% static 'imgs/bootstraplogo.png' %}" width="200" height="auto">
        </div>       
      </div>
      <div class="col-auto mt-3 text-justify">
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam iaculis, erat sed tempus vehicula, velit leo dapibus diam, ac pharetra neque ex eu lorem. Vivamus molestie, felis nec dapibus suscipit, eros augue consequat purus, vel elementum odio leo nec tortor. Sed eget mauris quis augue vehicula venenatis nec non elit. In neque augue, interdum non purus ut, lacinia tempor libero. Morbi et nisl non ligula mattis semper nec auctor orci. In hac habitasse platea dictumst. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam suscipit nisl quis suscipit varius. Cras porttitor lacus diam, eu dictum dolor suscipit in. Curabitur ultricies velit id nibh ultrices eleifend. Pellentesque quam arcu, efficitur sit amet nisl sit amet, ornare volutpat urna.</p>
        <p>
        Sed hendrerit sagittis sem, sit amet accumsan est faucibus ut. Sed vitae leo feugiat, hendrerit dui eget, lacinia tortor. Nam consequat ligula in augue ultricies, vel tincidunt est maximus. Suspendisse justo lorem, rutrum id eros non, placerat maximus magna. Donec tempus commodo eros, ac accumsan ligula gravida ut. Maecenas eget lacinia ipsum. Aliquam luctus ac nisi id pretium. Fusce maximus tempus elit sed rutrum. Morbi dignissim est augue, vel tincidunt tellus viverra ut. Aliquam aliquet, velit a vehicula pellentesque, libero est molestie nunc, vitae dignissim augue odio sagittis dui. Nunc consequat ut tortor a venenatis. Cras at aliquam purus. Sed mattis, nulla sed tristique finibus, eros tortor condimentum purus, ut efficitur urna felis vel sem.</p>
        <p>
        Praesent vitae dolor velit. Phasellus suscipit feugiat feugiat. Nunc venenatis congue nisl, et consequat ex tempus non. Maecenas eget orci sodales, maximus nulla eget, iaculis turpis. Aliquam ut condimentum ex. Mauris dignissim condimentum pulvinar. Aenean non sodales risus. Morbi est eros, suscipit efficitur lobortis vitae, ultricies eu arcu. Suspendisse mattis ultrices est at fermentum. Duis ac efficitur mi. Nam rhoncus metus at turpis luctus scelerisque.</p>
        <p>
        Proin ultrices, tellus eu commodo pretium, nibh augue sollicitudin neque, at mollis augue lectus vel purus. Sed porttitor mi vel eleifend vulputate. Etiam eros turpis, eleifend in posuere eget, egestas ac est. Donec nec magna elementum, faucibus purus ac, imperdiet ex. Cras in lacus ligula. Curabitur ultrices facilisis accumsan. Praesent mollis in quam vitae rhoncus. Nulla arcu nunc, rhoncus quis varius nec, accumsan sed dui. Mauris eros tortor, vestibulum id molestie sed, tristique vel nibh. Sed vitae dignissim orci, ac venenatis magna. Proin ac sapien a lorem convallis finibus.</p>
        <p>
        Curabitur nec ipsum eget magna sodales sollicitudin. Donec dapibus, ex in pulvinar tincidunt, leo nisl mattis justo, et congue lacus nisl accumsan lorem. Etiam id facilisis massa. Maecenas vestibulum nunc nec maximus faucibus. Sed accumsan sem eu lacus pharetra blandit. Sed viverra scelerisque iaculis. Morbi vitae quam id tortor porta gravida. Vivamus faucibus, erat non tristique fermentum, felis enim vestibulum neque, eu iaculis turpis dui quis felis. In eget orci in augue aliquam aliquet et mattis ligula. Proin luctus nisl eu bibendum tristique. Sed magna lacus, gravida vel laoreet sit amet, imperdiet ut lorem. Maecenas quis turpis sollicitudin, sagittis eros vel, lobortis urna. Vivamus et suscipit lacus. Ut lacus magna, vestibulum feugiat finibus at, molestie ac nisl. Cras dolor lacus, rutrum sit amet congue sed, molestie at sapien. Aenean vestibulum nisl in auctor blandit.</p>
      </div>
      {% endblock %}
    </div>
    <footer class="container py-5">
      <div class="row">
        <div class="col-12 col-md">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mb-2"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
          <small class="d-block mb-3 text-muted">&copy; 2017-2018</small>
        </div>
        <div class="col-6 col-md">
          <h5>Features</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Cool stuff</a></li>
            <li><a class="text-muted" href="#">Random feature</a></li>
            <li><a class="text-muted" href="#">Team feature</a></li>
            <li><a class="text-muted" href="#">Stuff for developers</a></li>
            <li><a class="text-muted" href="#">Another one</a></li>
            <li><a class="text-muted" href="#">Last time</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Resources</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Resource</a></li>
            <li><a class="text-muted" href="#">Resource name</a></li>
            <li><a class="text-muted" href="#">Another resource</a></li>
            <li><a class="text-muted" href="#">Final resource</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Resources</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Business</a></li>
            <li><a class="text-muted" href="#">Education</a></li>
            <li><a class="text-muted" href="#">Government</a></li>
            <li><a class="text-muted" href="#">Gaming</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>About</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Team</a></li>
            <li><a class="text-muted" href="#">Locations</a></li>
            <li><a class="text-muted" href="#">Privacy</a></li>
            <li><a class="text-muted" href="#">Terms</a></li>
          </ul>
        </div>
      </div>
    </footer>
</body>
{% block script %}
<script>
function calcular_desconto(){
  const url = `{% url 'calcular' %}`;
  $.ajax({
    url: url,
    method: 'get',
    data: {'frete':'10.15'},
    success: data => {
        console.log(data);
    },
    error: error => {
      console.error(error);
    }
  })
  return false;
}

function pesquisar_api(){
  const url = `{% url 'testes_api' %}`;
  const result_pesquisa = $("#result_pesquisa");
  const formData = {}
  formData.csrfmiddlewaretoken = "{{ csrf_token }}";
  $.ajax({
    url: url,
    method: 'post',
    data:  formData,
    success: data => {
        console.log(data);
        result_pesquisa.html(`<h3>${data.details}</h3>`)
        result_pesquisa.append(`<img class="m-0" style="float:left;"" src="${data.links.patch.large}"
                                width="500" height="auto">`);
        result_pesquisa.append(`<iframe class="mt-5" width="560" height="315"
                                src="https://www.youtube.com/embed/${data.links.youtube_id}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>`);
    },
    error: error => {
      console.error(error);
    }
  })
  return false;
}
</script>
{% endblock %}
</html>